#body{
    background-image: url("../media/MP.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#Letrero{
    color: white;
    font-size: 100px;
}
#Letrero_2 {
    color: white;
    margin-bottom: 5%;
}

#registro-inicio_img{
    /*height: 100%;*/
}

#titelIncluirProducto{

    background:#17a2b894;
    color: white;

}

/*para el boton de "Añadir Producto"*/
.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #b81717;
}

/*imagen por defecto de usuario*/
.icono{
    width: 250px;
    height: 250px;
    background:#fcbd84;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
    font-size: 100px;
    font-weight: bold;
}

/*Pinta un circulo del color especificado en el bakgraund. Probar con span y div. No se a usado de momento*/
.circulo-colored{
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
}

